body {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

p {
    word-wrap: break-word; /* Wraps links so they don't take up the whole space */
}

a:not([href]):not([tabindex]) { /* Changes the color of link buttons to white */
    color: #fff;
}